@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #121212;
  --secondary: #ffffff;
  --accent: #0016dc;
  --active: #000f93;
  --semi-transparent: rgba(0, 0, 0, 0.5);
  --placeholder: #747aa4;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary);
  background: var(--secondary);
}
